*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
}
html,body{
    height: 100%;
    width: 100%;
}
body::-webkit-scrollbar{
    display: block;
    width: 8px;
    background-color: #95C11E;
}
body::-webkit-scrollbar-thumb{
    background-color: white;
    border-radius: 50px;
}
#nav{
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 150px;
    gap: 50px;
    position: fixed;
    z-index: 99;
}
#nav img{
    height: 60px;
}
#nav a{
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: all 0.5s ease;
}
#cursor{
    height: 20px;
    width: 20px;
    background-color: #95C11E;
    border-radius: 50%;
    position: fixed;
    z-index: 100;
}
#cursor-blur{
    height: 300px;
    width: 300px;
    background-color: #96c11e2b;
    border-radius: 50%;
    position: fixed;
    filter: blur(50px);
    z-index: 9;
}
video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -1;
}
#main{
    position: relative;
    background-color: rgba(0,0,0,0.4);
}
#page1{
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    z-index: 10;
}
#page1 h1{
    font-size: 140px;
    font-weight: 900;
    position: relative;
}
#page1 h1::before{
    content: "EAT .DRINK .PLAY.";
    position: absolute;
    color: black;
    top:-4px;
    left: -4px;
    -webkit-text-stroke: 1px #95C11E;
    
}
#page1 h2{
    font-size: 40px;
    font-weight: 800;
    margin-block: 30px;
}
#page1 p{
    font-size: 20px;
    font-weight: 500;
    width: 40%;
}
#page2{
    min-height: 100vh;
    width: 100%;
    z-index: 10;
}
#scroller{
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    z-index: 10;
}
#scroller::-webkit-scrollbar{
    display: none;
}
#scroller-in-1{
    display: inline-block;
    white-space: nowrap;
    animation: scroll 10s linear infinite;
    margin-right: 10px;
}
#scroller-in-2{
    display: inline-block;
    white-space: nowrap;
    margin-right: 10px;
    animation: scroll 10s linear infinite;
}
#scroller h4{
    display: inline-block;
    font-size: 3.9rem;
    font-weight: 900;
    color: transparent;
    -webkit-text-stroke: 2px #95C11E;
    transition: all linear 0.5s;
}
#scroller h4:hover{
    color: #95C11E;
}
@keyframes scroll {
    from{
        transform: translateX(0);
    }
    to{
        transform: translate(-100%);
    }
}
#aboutus{
    height: 40vh;
    width: 100%;
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 30px;
    position: relative;
    z-index: 10;
}
#aboutus img{
    height: 210px;
    width: 210px;
    border-radius: 20px;
    object-fit: cover;
}
#aboutusin{
    width: 40%;
    text-align: center;
}
#aboutusin h3{
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 40px;

}
#aboutusin p{
    font-size: 20px;
    line-height: 26px;
}
#cards-container{
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    position: relative;
    z-index: 10;
}
.card{
    height: 85%;
    width: 24%;
    border-radius: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    transition: all ease 0.2s;
}
#card1{
    background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/home-toptracer-1024x682.jpg?strip=all&lossy=1&sharp=1&ssl=1);
}
#card2{
    background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/hero-4-1024x1024.jpg?strip=all&lossy=1&sharp=1&ssl=1);
}
#card3{
    background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/home-lessons-1024x682.jpg?strip=all&lossy=1&sharp=1&ssl=1);
}
.overlay{
    height: 100%;
    width: 100%;
    background-color: #95C11E;
    padding: 30px;
    padding-top: 160px;
    opacity: 0;
    transition: all ease 0.2s;
}
.overlay h4{
    color: black;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 800;
    white-space: nowrap;
    margin-bottom: 20px;
}
.overlay p{
    color: black;
    font-size: 18px;
}
.card:hover .overlay{
    opacity: 1;
}
.card:hover{
    transform: rotate3d(-1,1,0,20deg);
}
#green-div{
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to left bottom,#119F3A,#ACE022);
}
#green-div h4{
    color: black;
    width: 50%;
    line-height: 40px;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
}
#green-div img{
    height: 100%;
    object-fit: cover;
    width: 10%;
}
#page3{
    height: 100vh;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
#page3>p{
    font-size: 30px;
    font-weight: 600;
    width: 45%;
    text-align: center;
    line-height: 40px;
}
#page3 img{
    position: absolute;
    height: 60px;
}
#page3 #colon1{
    left: 20%;
    top: 20%;
}
#page3 #colon2{
    bottom: 20%;
    right: 20%;
}
#page4{
    position: relative;
    height: 30vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;

}
.elem{
    height: 70%;
    width: 20%;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}
.elem h2{
    height: 100%;
    width: 100%;
    background-color: #95C11E;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: black;
    font-weight: 800;
    position: absolute;
    z-index: 10;
    transition: all ease 0.5s;
}
.elem img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.elem:hover h2{
    color: white;
    background-color: transparent;
}
#page4 h1{
    font-size: 100px;
    position: absolute;
    top: -15%;
    font-weight: 900;
    color: black;
    -webkit-text-stroke: 2px white;
}
footer{
    height: 40vh;
    width: 100%;
    background: linear-gradient(to left bottom,#119F3A,#ACE022);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 150px;
    padding: 0 100px;
}
footer img{
    height: 100px;
}
#f2,#f3,#f4{
    width: fit-content;
    position: relative;
    z-index: 99;
}
#f2 h3{
    font-size: 30px;
    white-space: nowrap;
    text-transform: uppercase;
    color: black;
    font-weight: 900;
    margin-bottom: 8px;
}
#f3 h3{
    font-size: 30px;
    white-space: nowrap;
    text-transform: uppercase;
    color: black;
    font-weight: 800;
    margin-bottom: 8px;
}
#f4 h3{
    text-align: center;
    font-size: 20px;
    white-space: nowrap;
    text-transform: uppercase;
    color: black;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 8px;
}
@media screen and (max-width:1024px) {
    
}